<h2>Faculty</h2>

<table *ngIf="faculty$ | async as faculty; else loading" border="1" cellpadding="6">
  <thead>
    <tr>
      <th>Faculty ID</th>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Department ID</th>
      <th>Job ID</th>
      <th>Hire Date</th>
      <th>Term Date</th>
      <th>Actions</th> 
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let f of faculty">
      <td>{{ f.faculty_id }}</td>
      <td>{{ f.first_name }}</td>
      <td>{{ f.last_name }}</td>
      <td>{{ f.email_address }}</td>
      <td>{{ f.department_id }}</td>
      <td>{{ f.job_id }}</td>
      <td>{{ f.hire_date }}</td>
      <td>{{ f.term_date }}</td>

      <td>
        <a [routerLink]="['/admin/faculty', f.faculty_id, 'edit']">
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #loading>
  <p>Loading faculty...</p>
</ng-template>
