<p>change-password works!</p>

<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="changePassword()">
    <label for="username">Username<br/>
        <span id="username">{{ username }}</span>
    </label>
    
    <label for="password">New Password</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="newPassword"
      name="new password"
      required
    />

    <button type="submit">Login</button>
  </form>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>